# Python
__pycache__/
*.py[cod]
*$py.class
.venv*/
venv*/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
htmlcov/
.langgraph_api/

# Node / React
node_modules/
/build
.node_repl_history
*.tgz
*.log
.eslintcache
.stylelintcache
.npm
.cache/
.parcel-cache/
.next/
.nuxt/
.vercel/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.pydevproject
.settings/

# OS
.DS_Store
Thumbs.db
